<!DOCTYPE html>
<html>
    <head>
      <meta name='view' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
      <title>Categories</title>
        <link rel="stylesheet" href="../../assets/styles/categories.css" type="text/css">
        <link rel="stylesheet" href="../../assets/styles/navbar.css" type="text/css">

        <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <script language="javascript" type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
        <script language="javascript" type="text/javascript" src="../../assets/scripts/arbor/arbor.js" ></script>
        <script language="javascript" type="text/javascript" src="../../assets/scripts/arbor/graphics.js" ></script>
        <script language="javascript" type="text/javascript" src="../../assets/scripts/arbor/categoryRenderer.js" ></script>
    </head>
    <body>

      <!-- Navigation Bar <!-->
      <header class="topnav">
        <div id="title">
          <img src="../../assets/SAPlogo2.png" alt="SAP Logo" id="logo">
        </div>

        <div id="nav">
          <a href="../PersonalGraph/personalGraph.html" class="active"><i class="fas fa-home"></i> Home</a>
          <a href="../AllServicesGraph/allServices.html" class="active"><i class="fas fa-share-alt"></i>All Services</a>
         </div>

         <div id="search">
           <i class="fas fa-search"></i>
           <input type="text" placeholder="Search...">
         </div>
      </header>

      <div id="container" style="width:100%; margin: 2rem;">

        <!-- Main graph <!-->
        <div id="graph" style="float:left; width:40%; height: 800px; background:white;">
          <canvas id="viewport" width="600" height="600"></canvas>
          <script src="categories.js"></script>
        </div>

        <!-- Services -->
        <!-- <div id="documents"> -->
          <div id="Verification-of-Illness" style="float:right; width:50%; display: none;">
          </div>
          <div id="Letter-of-Accommodation" style="float:right; width:50%; display: none;" class="service">
          </div>
           <div id="Saved" style="float:right; width:50%; display: none;">
            <h1>View your saved notes here</h1>
            <button>Favourite</button>
            <button>Upload</button>
          </div>
        <!-- </div> -->

        <!-- <div id="notes"> -->
          <div id="volunteer" style="float:right; width:50%; display: none;"></div>
          <div id="uploadNotes" style="float:right; width:50%; display: none;"></div>
          <div id="requestNotetaking" style="float:right; width:50%; display: none;"></div>
        <!-- </div> -->

        <!-- <div id="counsellors"> -->
          <div id="learningStrategist" style="float:right; width:50%; display: none;">
          </div>
          <div id="adaptiveTechnologist" style="float:right; width:50%; display: none;">
          </div>
          <div id="accessibilityAdvisors" style="float:right; width:50%; display: none;">
          </div>
        <!-- </div> -->

        <!-- <div id="textAndExamAccommodation"> -->
          <div id="accommodationRenewal" style="float:right; width:50%; display: none;"></div>
        <!-- </div> -->

      </div>
    </body>
</html>
