<!DOCTYPE html>
<html>
    <head>
      <meta name='view' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
      <title>Categories</title>
        <link rel="stylesheet" href="../../assets/styles/categories.css" type="text/css">
        <link rel="stylesheet" href="../../assets/styles/navbar.css" type="text/css">

        <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <script language="javascript" type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
        <script language="javascript" type="text/javascript" src="../../assets/scripts/arbor/arbor.js" ></script>
        <script language="javascript" type="text/javascript" src="../../assets/scripts/arbor/graphics.js" ></script>
        <script language="javascript" type="text/javascript" src="../../assets/scripts/favourite.js" ></script>
        <script language="javascript" type="text/javascript" src="../../assets/scripts/arbor/categoryRenderer.js" ></script>
    </head>
    <body>

      <!-- Navigation Bar <!-->
      <header class="topnav">
        <div id="title">
          <img src="../../assets/SAPlogo2.png" alt="SAP Logo" id="logo">
        </div>

        <div id="nav">
          <a href="/main" class="active"><i class="fas fa-home"></i> Home</a>
          <a href="/services" class="active"><i class="fas fa-share-alt"></i>All Services</a>
          <a href="/" class="active"><i class="fas fa-sign-out-alt"></i>Log Out</a>
         </div>

         <div id="search">
           <i class="fas fa-search"></i>
           <input type="text" placeholder="Search...">
         </div>
      </header>

      <div id="container" style="width:100%; margin: 2rem;">

        <!-- Main graph <!-->
        <div id="graph" style="float:left; width:40%; height: 800px; background:white;">
          <canvas id="viewport" width="600" height="600"></canvas>
          <script src="../../assets/scripts/categories.js"></script>
        </div>

        <!-- Services -->
        <section id="services">
        <div id="Documents">
          <div id="Verification-of-Illness" class="service"></div>
          <div id="Letter-of-Accommodation" class="service"></div>
          <div id="Accommodation-Renewal" class="service"></div>
        </div>

        <div id="Note-Taking">
          <div id="Volunteer" class="service"></div>
          <div id="Upload-Notes" class="service"></div>
          <div id="Request-Note-Taking" class="service"></div>
        </div>

        <div id="Counsellors">
          <div id="Learning-Strategist" class="service"></div>
          <div id="Adaptive-Technologist" class="service"></div>
          <div id="Accessibility-Advisor" class="service"></div>
        </div>

        <div id="Test-Accommodation">
          <div id="Late-Request" class="service"></div>
          <div id="Request" class="service"></div>
          <div id="Information" class="service"></div>
        </div>

        <div id="Building-Accessibility">
          <div id="Gender-Neutral-Washrooms" class="service"></div>
          <div id="Wheelchair-Entrance-Map" class="service"></div>
          <div id="Elevator-Map" class="service"></div>
        </div>
        </section>
      </div>
    </body>
</html>
