<!DOCTYPE html>
<html lang='en'>
    <head>
      <meta charset='utf-8'>
      <title>Categories</title>
        <link rel="stylesheet" href="categories.css" type="text/css">
        <script language="javascript" type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script language="javascript" type="text/javascript" src="arbor.js" ></script>
        <script language="javascript" type="text/javascript" src="graphics.js" ></script>
        <script language="javascript" type="text/javascript" src="renderer.js" ></script>
        <div class="header">
          <a href="#home" id="logo">
            <img src="uoft_logo.png" style="width:10%;height:77%;border:0;padding:0;">
          </a>

        </div>
    </head>
    <body>

      <div id="service-content">
        <h3>Contact info</h3>
        <p>phone number:</p>
        <p>Email:</p>
        <p>Address:</p>
        <button type='button' class='btn btn-default'>Send Email</button>
        <button type='button' class='btn btn-default'>Favourite</button>
      </div>
    </body>
  </html>
