<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="index.css">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>Accessibility Mock Services</title>

    <script src="../../assets/scripts/login.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script rel="javascript" type="text/javascript" href="js/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="../../assets/styles/navbar.css" type="text/css">

<!--
      <div class="navbar">
        <a href="#home" id="logo">
          <img src="uoft_logo.png" style="width:70%;height:70%;border:0;padding:0;">
        </a>

      </div> -->


  </head>


  <body>
    <header class="topnav">
      <div id="title">
        <img src="../../assets/SAPlogo2.png" alt="SAP Logo" id="logo">
      </div>


    </header>
<!--
    <div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <input type="text" placeholder="username"/>
      <input type="password" placeholder="password"/>
      <button>login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div> -->

<div class="login-page">
  <div class="form">

    <form class="login-form">
      <input type="text" name="username" placeholder="username"/>
      <input type="password" name="password" placeholder="password"/>

      <input type="button" onclick="checkLogin(this.form)" value="Login"/>
      <!-- <input type="submit" value="Login"/> -->
      <input type="button" onclick="location.href='signup.html';" value="Sign Up"/>
    </form>
  </div>
</div>
<!--
  <div class="login-page">
    <div class="login-form" id="login">
      <form class="login" name="login">

          <div id="username" style="padding-bottom:3px">

        <label for="username">Username</label>
        <input type="text" name="username" />

      </div>

        <br>

        <div id="pw" style="padding-bottom:5px">

        <label for="password">Password</label>
        <input type="text" name="password"></input>

      </div>


    <input type="button" onclick="checkLogin(this.form)" value="Login"/>
    <input type="button" onclick="location.href='signup.html';" value="Sign Up"/>





      </form>
    </div>

  </div>
 -->



  </body>

</html>
