<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Accessibility Mock Services</title>

      <script src="../../assets/scripts/signup.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="signup.css">
    <link rel="stylesheet" href="../../assets/styles/navbar.css" type="text/css">
<!--

      <div class="navbar">
        <a href="#home" id="logo">
          <img src="uoft_logo.png" style="width:70%;height:70%;border:0;padding:0;">
        </a>

      </div> -->


  </head>


  <body>

    <header class="topnav">
      <div id="title">
        <img src="../../assets/SAPlogo2.png" alt="SAP Logo" id="logo">
      </div>


    </header>



    <div class="signup-page" style="padding-top:100px;">
      <div class="form" >

        <!-- <form class="signup-form" action="/register" method="POST"> -->
        <form class="signup-form">
          <input type="text" name="utorid" placeholder="utorid"/>
          <input type="password" name="password" placeholder="password"/>
          <input type="text" name="firstname" placeholder="First Name"/>
          <input type="text" name="lastname" placeholder="Last Name"/>
          <div id="upload" style= "margin-top:5px; margin-bottom:25px; width:100%;">
            <input type="file" name="filef" id="filef" class="inputfile" />
            <label for="filef">Upload Your Form Here</label>
          </div>
          <!-- <input type="text" name="lastName" placeholder="last name"/>

          <input type="text" name="userName" placeholder="username"/>
          <input type="password" name="password" placeholder="password"/> -->

          <input type="button" onclick="checkSignUp(this.form)" value="Sign Up"/>
          <!-- <input type="submit" value="Signup"/> -->
          <input type="button" onclick="location.href='/';" value="Login"/>

        </form>
      </div>
    </div>

<!--
    <div class="login" id="login">
      <form id="login-form" name="login">

        <div class="container" id="container">

          <div id="firstName" style="padding-bottom:3px">

        <label for="username">First Name</label>
        <input type="text" name="firstName" />

      </div>

        <br>

        <div id="lastName" style="padding-bottom:3px">

        <label for="password">Last Name</label>
        <input type="text" name="lastName"></input>

      </div>

      <br>

      <div id="pw" style="padding-bottom:3px">

      <label for="password">Username</label>
      <input type="text" name="userName"></input>

      </div>

      <br>

      <div id="pw" style="padding-bottom:3px">

      <label for="password">Password</label>
      <input type="text" name="password"></input>

      </div>


      </div>


    <input type="button" onclick="location.href='index.html';" value="Login"/>
    <input type="button" onclick="checkSignUp(this.form)" value="Sign Up"/>





      </form>
    </div> -->




  </body>

</html>
