<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Personal Graph</title>
  <link rel="stylesheet" href="../../assets/styles/navbar.css" type="text/css">

  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  <script src="../../assets/scripts/arbor/arbor.js"></script>
  <script src="../../assets/scripts/arbor/graphics.js"></script>
  <script src="../../assets/scripts/arbor/toCategoryRenderer.js"></script>

</head>

<body>

  <header class="topnav">
    <div id="title">
      <img src="../../assets/SAPlogo2.png" alt="SAP Logo" id="logo">
    </div>

    <div id="nav">
       <a href="/main" class="active"><i class="fas fa-home"></i> Home</a>
       <a href="/services" class="active"><i class="fas fa-share-alt"></i>All Services</a>
       <a href="/" class="active"><i class="fas fa-sign-out-alt"></i>Log Out</a>
     </div>

     <div id="search">
       <i class="fas fa-search"></i>
       <input type="text" placeholder="Search...">
     </div>
  </header>

  <main>
    <div id="allServicesGraph" style="text-align:center; background: white;">
      <canvas id="viewport" width="1500" height="800"></canvas>
      <script src="../../assets/scripts/personalGraph.js"></script>
    </div>
  </main>

</body>
</html>
