/*-------------------------NAV BAR/HEADER-------------------------*/
.topnav {
	overflow: hidden;
	background-color: #002A5C;
	margin-bottom:1.5em;
	display: grid;
	grid-template-columns: 30% auto 20%;
}

.topnav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 24px 28px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #7BA4D9;
    color: white;
}

.topnav .icon {
    display: none;
}

#title {
		grid-column-start: 1;
		padding: 0.5rem;
}

#nav {
	grid-column-start: 2;
	padding: 0 5rem;
}

#logo {
	width: 400px;
}

header{
	color: white;
}

header svg{
	color: white;
	margin-right:  0.5rem;
}

#searchicon{
	height:2%;
	width:2%;
}

#search{
    text-decoration: none;
		margin: 1rem;
		background: white;
}

#search > input {
	padding:0.5em;
	border: none;
}

#search svg{
	margin: 0 0.5em;
	color: #002A5C;
}
